$spindle: #C1C8CE;
$dodgerBlue: #33A0FF;
$goldenPoppy: #FFC600;

.review {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $spindle;

    .rating {

        &__star {
            color: $goldenPoppy;
        }
    }
    
    .count {
        padding: 0 10px;
    }

    .link {

        a {
            color: $dodgerBlue;
        }
    }
}